header {
    background-color: #3f51b5;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
.logout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:#3f51b5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .logout-button:hover {
    background-color: #357ABD;
  }
  footer {
    text-align: center;
    padding: 15px;
    background-color: #3f51b5;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
      